= form_for [:admin, @gallery] do |f|
  - if @gallery.errors.any?
    #error_explanation
      h2 = "#{pluralize(@gallery.errors.count, "error")} prohibited this gallery from being saved:"
      ul
        - @gallery.errors.full_messages.each do |message|
          li = message
          
  - if flash[:notice].present?
    .success-notice = flash[:notice]

  .field
    = f.label :permalink
    = f.text_field :permalink
  .field
    = f.label :flickr_id
    = f.text_field :flickr_id
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :snippet
    = f.text_area :snippet
  .field
    = f.label :explanation
    = f.text_area :explanation
    
  .actions = f.submit
