h1 Listing galleries

table
  thead
    tr
      th Permalink
      th
      th
      th

  tbody
    - @galleries.each do |gallery|
      tr
        td = gallery.permalink
        td = link_to 'Edit', edit_admin_gallery_path(gallery)
        td = link_to 'Destroy', [:admin, gallery], data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Gallery', new_admin_gallery_path
