$media-threshold-mobile-max: 660px;
$media-threshold-small-min: $media-threshold-mobile-max + 1px;
$media-range-small-or-bigger: new-breakpoint(min-width $media-threshold-small-min);
$media-range-mobile: new-breakpoint(max-width $media-threshold-mobile-max);
