doctype html
html
  head
    title Jonas Art Admin
    = csrf_meta_tags
    = stylesheet_link_tag "admin_application"

  body
    nav.nav-bar
      - if current_user
        = button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-bar__item"
      = link_to "galleries", admin_galleries_path, class: "nav-bar__item"
      = link_to "writings", admin_writings_path, class: "nav-bar__item"
    = yield
