/*
Error: File to import not found or unreadable: ./lib/html5reset.
        on line 1 of app/assets/stylesheets/application.scss

1: @import "./lib/html5reset";
2: @import "./reset";
3: @import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
4: @import "../../node_modules/bourbon-neat/app/assets/stylesheets/_neat.scss";
5: @import "./components/*";

Backtrace:
app/assets/stylesheets/application.scss:1
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/import_node.rb:45:in `import'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:412:in `run'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/gems/sass-3.4.20/bin/sass:13:in `<top (required)>'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/bin/sass:23:in `load'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/bin/sass:23:in `<main>'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/bin/ruby_executable_hooks:15:in `eval'
/Users/kellen.hart/.rvm/gems/ruby-2.2.2@global/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ./lib/html5reset.\A         on line 1 of app/assets/stylesheets/application.scss\A \A 1: @import \"./lib/html5reset\";\A 2: @import \"./reset\";\A 3: @import \"../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss\";\A 4: @import \"../../node_modules/bourbon-neat/app/assets/stylesheets/_neat.scss\";\A 5: @import \"./components/*\";"; }
