@import "writings";

label {
  width: 100px;
  display: inline-block;
  margin-bottom: 10px;
}

input {
  width: 200px;
  margin-bottom: 10px;
}

input[type=checkbox] {
  width: 20px;
}

textarea {
  width: 200px;
  height: 100px;
}

.success-notice {
  background-color: green;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.nav-bar {
}

.nav-bar__item {
  display: inline-block;
  padding: 0.5em;
}
