.writings-list {
}

.writings-list__item {
}

.writings-list__item-name {
  display: inline-block;
  padding: 0.5em;
}

.writings-list__item-action {
  display: inline-block;
  padding: 0.5em;
  color: green;
}

.writing-form {
  input, textarea {
    display: block;
    margin: 0.5em;
  }

  textarea {
    width: 500px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
  }
}
