@import "./mixins/media";

$gallery-mobile-side-margin: 0.8em;
$gallery-mobile-pic-side-margin: 0.8em;

.gallery-pictures {
  position: relative;
  @include display(flex);
  @include align-content(space-between);
  @include align-items(flex-start);
  @include justify-content(space-between);
  @include flex-wrap(wrap);

  @include media($media-range-small-or-bigger) {
    padding: 20px 20px;
  }

  @include media($media-range-mobile) {
  }
}

.gallery-pictures__scroller {
  @include flex-shrink(0);

  &:hover {
    opacity: 0.8;
  }

  width: 40px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;

  &:after {
    font-size: 2em;
    font-weight: bold;
    display: block;
    text-align: center;
  }
}

.gallery-pictures__scroller--prev {
  &:after {
    content: "<";
  }

  margin-left: $gallery-mobile-side-margin;
  @include order(2);
}

.gallery-pictures__scroller--next {
  &:after {
    content: ">";
  }

  margin-right: $gallery-mobile-side-margin;
  @include order(3);
}

.gallery-pictures__scroll {
  @include display(flex);
  @include align-items(center);
  @include flex-wrap(nowrap);

  @include order(1);
  @include flex-shrink(0);
  overflow-x: auto;
  width: 100vw;

  @include media($media-range-mobile) {
  }
}

.gallery-pictures__pic-link {
  @include flex-shrink(0);
  @include display(flex);
  @include flex-direction(column);

  margin-left: $gallery-mobile-pic-side-margin;
  margin-right: $gallery-mobile-pic-side-margin;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.gallery-pictures__pic {
  max-width: 100%;
  height: auto;
  max-height: 65vh;
}
