.modal-context {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: none;
  background-color: rgba(#fff, 0.9);
}

.modal-context.active {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}

.modal {
  width: 100%;
  max-height: 100%;
  padding: 0 0.8em;
  font-weight: bold;
  // actually constrains child to 100% height if parent width doesn't give it room to be wider
  overflow-y: auto;
}

.modal__pic {
  padding-bottom: 0.5em;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.modal__title, .modal__description {
  max-width: 400px;
  margin: 0 auto;
}
