@import "./mixins/media";
@import "./mixins/color";

.nav {
  position: fixed;
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  @include align-content(flex-start);
  top: 0;
  width: 100%;
  padding: 5px 10px;
  z-index: 100;
  font-weight: bold;
  font-size: 1.1em;
  background-color: white;

  &.active {
    bottom: 0; right: 0;
    background-color: rgba(#fff, 0.7);
    height: 100%;

    .nav__breadcrumb {
      display: none;

      @include media($media-range-small-or-bigger) {
        display: block;
      }
    }
  }

  @include media($media-range-mobile) {
  }

  @include media($media-range-small-or-bigger) {
  }
}

.nav__hero {
  width: 80%;
  cursor: pointer;
  @include order(1);
  @include flex-shrink(0);

  @include media($media-range-small-or-bigger) {
    margin-right: 0.5em;
    width: auto;
  }
}

.nav__breadcrumb {
  padding-top: 0.6em;
  text-transform: capitalize;
  height: $breadcrumb-height;
  @include order(3);

  @include media($media-range-small-or-bigger) {
    padding-top: 0;
    padding-right: 2em;
    margin-right: auto;
    min-width: 180px;
    @include overflow-ellipsis;
  }
}

.nav__breadcrumb--emphasized {
  text-transform: uppercase;
}

.nav__burger {
  width: 20%;
  text-align: right;
  cursor: pointer;
  position: relative;
  padding-left: 1.25em;
  @include order(2);

  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: $color-base-font;
    box-shadow:
      0 0.25em 0 0 black,
      0 0.5em 0 0 black;
  }

  @include media($media-range-small-or-bigger) {
    display: none;
  }
}

.nav.active .nav__menus {
  display: block;

  @include media($media-range-small-or-bigger) {
    @include display(flex);
  }
}

.nav__menus {
  width: 100%;
  @include order(4);
  display: none;

  @include media($media-range-small-or-bigger) {
    display: block;
    width: auto;
    max-width: 650px;
    @include display(flex);
    @include justify-content(space-between);
    @include flex-grow(1);
    margin-left: auto;
  }
}

.nav__menu {
  width: 100%;
  text-align: right;
  margin: 0.2em 0;

  @include media($media-range-small-or-bigger) {
    margin: 0 0.3em;
    width: auto;
  }

  .nav__submenu {
    height: 0;
    overflow-y: hidden;
  }

  h3 {
    cursor: pointer;
  }
}

.nav.active .nav__submenu {
  @include media($media-range-small-or-bigger) {
    padding-top: 1em;
    padding-bottom: 1em;
    height: auto;
  }
}

.nav.active .nav__menu.active .nav__submenu {
  padding-top: 1em;
  padding-bottom: 1em;
  height: auto;
}
