@import "./mixins/color";

* {
  box-sizing: border-box;
}

body {
  font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
  color: $color-base-font;
  font-size: 16px !important;
  font-weight: 300;
  line-height: 1.8em;
}

a {
  text-decoration: none;
  color: $color-base-font;
}
