.writings-list
  - @writings.each do |writing|
    .writings-list__item
      .writings-list__item-name = writing.permalink
      = link_to "edit", edit_admin_writing_path(writing), class: "writings-list__item-action"
