doctype html
html
  head
    title Jonas Art
    = csrf_meta_tags
    meta name="viewport" content="width=device-width, initial-scale=1"

  body
    #app-content
      = yield

    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
